body {font-family: Merriweather; padding: 18px; background: #F8F0F0; color: #333; margin: 0px auto;}
a {color: #333;}
small {padding: 10px 0px;}
#wrapper {margin: 0px auto; max-width: 600px;}
table {text-align: left; width: 100%}
th {padding: 10px 0px;}
td, text {padding: 3px 20px 3px 0px; font-size: 10px;}

#map {height: 400px; width: 600px; background: #DADADA;}
#holder {height: 400px; width: 600px; background: #FFE4E4;}

//.bigg {-webkit-transition: all .2s ease-in-out; -webkit-transform: scale(2);}

.labels text {text-align: right;}

.bar rect {fill: #e6e6e6;}

.bar text.value {fill: #333;}

.axis {shape-rendering: crispEdges; fill: #fff;}

.axis path {fill: none;}

.x.axis line {stroke: #fff; stroke-opacity: .7;}

.y.axis path {stroke: #fff;}

.axis path,
.axis line {fill: none; stroke: #000; shape-rendering: crispEdges;}

.x.axis path {display: none;}

.line {fill: none; stroke: steelblue; stroke-width: 1.5px;}

.overlay {fill: none; pointer-events: all;}

.focus circle {fill: none; stroke: steelblue;}

.leaflet-popup-content {font-family: Merriweather;}
.leaflet-popup-content h2 {margin-bottom: 4px;}

/*    path {
        stroke: #14ECC8;
        stroke-width: 3;
        fill: none;
      }*/
      
      .axis {
        shape-rendering: crispEdges;
      }

      .x.axis line {
        stroke: #acacac;
      }

      .x.axis .minor, .y.axis .minor {
        stroke-opacity: .5;
      }

      .x.axis path {
        display: none;
      }

      .y.axis line, .y.axis path, .x.axis line, .x.axis path {
        fill: none;
        stroke: #acacac;
        stroke-width: 1;
      }

