body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:500px; height: 500px; }
#alert {position: absolute; right: 0px; width: 300px; background: #efefef; top: 0px; bottom: 0px;}